{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>
<table class="table">
    <tr>
        <th>Post List for {{ date }}</th>
    </tr>
</form>
    {% for post in posts %}
    <tr>
        <td>
         <form class='form-inline' method='POST' action="/delete" >
            <button class='btn btn-primary' type='submit' value='delete'>Delete</button>
            <label name = "poste value = post['post']></label>
            {{ post['post']
            }} 
         </form>
     </form>
        </td>
    </tr>
    {% endfor %}

</table>

<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

{% with messages = get_flashed_messages(category_filter=["post_delete_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}
<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <label>Feeling:</label>
    <select id='emolist' name = "feels" placeholder='Feeling'>
               <option value = "--Feeling Happy">Happy</option>
               <option value = "--Feeling Loved">Loved</option>
               <option value = "--Feeling Thankful">Thankful</option>
               <option value = "--Feeling Great">Great</option>
    </select>
    <br/>
    <input id='tt' class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <input class='btn btn-primary' type='submit' />
</form>


{% endblock %}