{% extends "base.html" %}

{% block pagetitle %} Inventory {% endblock %}

{% block content %}
{% with messages = get_flashed_messages(category_filter=["add_to_cart_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}
<table class="table">
    <tr>
        <td>
            <td>Quantity</td>
            <td>Product</td>
            <td>Item Price</td>
            <td>Item total Price</td>
        </td>
    </tr>

    {% for item in items %}
    <tr>
        <td>
            <td>{{ item['quantity']|int }}&nbsp;x&nbsp;&nbsp;</td>
            <td>{{ item['item_name'] }}</td>
            <td>{{ item['price'] }}</td>
            <td>{{ item['item_total'] }}</td>
        </td>
    </tr>
    {% endfor %}

    <tr>
        <td>
            <td></td>
            <td></td>
            <td style="text-align: right">TOTAL</td>
            <td>{{ gtotal }}</td>
        </td>
    </tr>
</table>

{% endblock %}